/* Counter 1 ---------------------------------- */
.counter-area {
    padding-top: 80px;

    @include lg {
        padding-top: 0;
    }

    @include xs {
        padding-top: 80px;
    }
}

.counter-card {
    &_icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        text-align: center;
        background-color: $white-color;
        border: 1px solid #EBEDF1;
       filter:  drop-shadow(2.5px 2.5px 15px rgba(232, 234, 238, 0.55));   
        transition: 0.4s ease-in-out;
        margin-bottom: 35px;

        @include sm {
            display: block;
            margin: auto auto 35px auto;
        }

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            transform: scale(0);
            border-radius: 50%;
            background-color: var(--theme-color);
            transform-origin: center;
            transform-style: preserve-3d;
            transition: all 0.5s cubic-bezier(0.62, 0.21, 0.45, 1.52);
            z-index: -1;
        }

        img {
            transition: 0.4s ease-in-out;
        }
    }

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        .divider {
            background: #D4DAE7;
            width: 1px;
            height: 245px;

            &:last-of-type {
                display: none;
            }

            @include md {
                display: none;
            }

        }

        &.style2 {
            justify-content: center;
            border-right: 1px solid #5770FF;

            @include lg {

                &:nth-child(1),
                &:nth-child(2) {
                    border-bottom: 1px solid #5770FF;
                }

                &:nth-child(2) {
                    border-right: 0;
                }
                &:nth-child(3) {
                    border-bottom: 1px solid #5770FF;
                }
            }

            &:last-child {
                border-right: 0;
            }

            .divider {
                background: #5770FF;
            }
        }
    }

    .box-number {
        font-size: 40px;
        color: $title-color;
        font-weight: 700;
        margin-bottom: 0px;
        margin-top: -0.2em;
    }

    .counter-title {
        margin-bottom: 6px;
        font-size: 20px;
        @include md {
            font-size: 18px;
        }
        @include sm {
            font-size: 20px; 
        }
    }
    .counter-text {
        @include md {
            font-size: 16px; 
        }
    }

    .media-body {
        flex: 1;
        max-width: 312px;
    }

    @include lg {}

    &:hover {
        .counter-card {
            &_icon {
                &:before {
                    transform: scaleX(1.0);
                }

                img {
                    transform: rotateY(180deg);
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &.style2 {
        padding: 70px 0;
        display: flex;
        gap: 20px;

        @include sm {
            padding: 35px 0;
            flex-direction: column;
        }
    }
}

@include md {
    .counter-card {
        .box-number {
            font-size: 46px;
        }

        .box-text {
            font-size: 18px;
        }
    }
}

@include sm {
    .counter-sec1 {
        padding-bottom: 60px;
    }

    .counter-card {
        &-wrap {
            flex-wrap: wrap;
            position: relative;
            display: block;

            .divider {
                display: none;
            }
        }

        flex: 50%;
        padding-left: 10px;
        padding-right: 10px;

        text-align: center;

        &:nth-child(1),
        &:nth-child(3) {
            padding-bottom: 30px;
            margin-bottom: 30px;
        }

        .media-body {
            max-width: 100%;
        }
    }
}

//---------------------------------
.counter-card {

    &.style2 {
        .counter-number {
            color: inherit;
        }
    }
}

.counter-sec2 {
    margin-top: -20px;
    background-size: auto;
    background-position: top center;
    background-repeat: repeat-x;
    position: relative;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        inset: 80px 0 0 0;
        background-color: $smoke-color2;
        z-index: -1;
    }
}

.counter-sec {
    .container {
        max-width: 100%;
    }
}