/* feature ---------------------------------- */
.feature-sec {
    background-color: #EDF0F4;
}

.feature-item {
    border-radius: 30px;
    border: 1px solid $white-color;
    padding: 50px 25px;
    text-align: center;
    background: linear-gradient(180deg, #FFF 77.78%, rgba(255, 255, 255, 0.00) 100%);

    @media(max-width: 1399px) {
        padding: 50px 24px;
    }

    &_icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        display: block;
        margin: auto auto 40px auto; 
        background-color: #F3F5FC;
        border-radius: 50%;
    }

    &_text {
        font-size: 14px;
        margin-bottom: -0.3rem; 
    }

    .box-title {
        letter-spacing: -0.48px;
        margin-bottom: 8px;
        @include xl {
            font-size: 20px;
        }
    }

    img {
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        .feature-item {
            &_icon {
                img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.feature-wrapper {
    display: flex;
    align-items: center;
    gap: 25px;

    @include lg {
        margin-bottom: 30px;
    }
    &.style4 {
        gap: 15px; 
    }

    .feature-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        color: $white-color;
        font-size: 14px;
        text-align: center;
        background-color: transparent;
        border: 1px solid $white-color;
        transition: 0.4s ease-in-out;

        &:hover {
            background-color: $white-color;

            i {
                color: $theme-color;
            }
        }

        i {
            color: $white-color;
            transition: 0.4s ease-in-out;
        }
    }

    .header-info {
        &_link {
            font-family: $title-font;
            font-size: 18px;
            font-weight: 600;
            color: $white-color;
            margin-bottom: -0.3rem; 


            a {
                color: inherit;
            }
        }

        &_label {
            font-family: $title-font;
            font-size: 16px;
            font-weight: 500;
            color: $white-color;
            margin-bottom: 0;

        }
    }
}

/* Choose ---------------------------------- */

.choose-about {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    max-width: 621px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    @include xs {
        gap: 20px;
    }

    @include vxs {
        display: block;
    }

    &_icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color: $theme-color;
        border-radius: 50%;

        @include vxs {
            display: block;
            margin: auto auto 20px auto;
        }

    }

    &_text {
        margin-bottom: 0;

        @include vxs {
            text-align: center;
        }
    }

    img {
        transition: all 0.4s ease-in-out;
    }

    .box-title {
        font-size: 22px;
        letter-spacing: -0.44px;
        margin-bottom: 10px;
        @include vxs {
            text-align: center;
        }
    }

    &:hover {
        .choose-about {
            &_icon {
                img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.choose-image {
   text-align: right;
    @include md {
        text-align: center; 
        margin-top: 40px;
    }
}

.features-wrapper {
    border-radius: 20px;
    background: #F3F4F6;
    padding: 40px;
    display: flex;
    gap: 30px;

    @include lg {
        display: block; 
    }

    .features-img {
        min-width: 300px;
        border-radius: 20px;
        @include lg {
            min-width: 100%;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

.features-content {
    .box-title {
        margin-bottom: 5px;
    }

    .checklist li:not(:last-child) {
        margin-bottom: 5px;
    }
}