/* Service Card ---------------------------------- */
.service-card {
    position: relative;
    border-radius: 20px;
    border: 1px solid #EDF0EF;
    background: linear-gradient(180deg, #EDF0F4 0%, rgba(237, 240, 244, 0.00) 100%);
    padding: 30px;
    z-index: 9;

    @media(max-width: 1399px) {
        padding: 25px;
    }

    .box-img {
        border-radius: 20px;
        margin-bottom: 30px;  

        img {
            border-radius: 20px;
            transition: all 0.4s ease-in-out;
        }
    }

    &_desc {
        margin-bottom: 10px;
    }

    .box-title {
        letter-spacing: -0.48px;  
        font-weight: 700;
        margin-bottom: 7px;
    }

    .line-btn {
        font-weight: 600; 
        color: $theme-color;

        &:before {
            display: none;
        }

        &:hover {
            color: $title-color;
        }
    }

    &:hover {
        .box-img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

/*Service Grid ---------------------------------*/
.service-grid {
    position: relative;
    background: $white-color;
    padding:  40px;
    border-radius: 20px;
    border: 1px solid #E3E7F0;
    transition: 0.4s ease-in-out;

    @include xl {
        padding: 25px;
    }

    &_icon {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        border: 1px solid #E3E7F0;
        background-color: $white-color;
        box-shadow: drop-shadow(0px 26px 65px rgba(232, 234, 238, 0.55));
        border-radius: 50%;
        z-index: 9;
        transition: 0.4s ease-in-out;


        img {
            transition: 0.4s ease-in-out;
        }
    }
    &_text {
        margin-bottom: 15px;
    }

    .box-title {
        font-weight: 600;
        margin: 25px 0 5px 0;
    }

    .icon-btn {
        border-radius: 99px;
        background-color: $white-color;
        border: 1px solid $border-color;
        color: $title-color;
        position: relative;
        z-index: 3;
        display: block;
        text-align: center;
        margin: auto;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
            color: $white-color;
        }
    }
    .line-btn {
        font-family: $body-font; 
    }

    &:hover {
        .service-grid {
            &_img {
                img {
                    transform: scale(1.1);
                }
            }

            &_icon {
                border: 1px solid $theme-color;

                &:before {
                    transform: scaleX(1.0);
                }

                img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

/*Service item ----------------------------------*/
.service-item {
    border-radius: 30px;
    border: 1px solid $white-color;
    padding: 40px 30px;
    background: linear-gradient(180deg, #FFF 77.78%, rgba(255, 255, 255, 0.00) 100%);
    transition: all 0.4s ease-in-out;

    &_icon {
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        display: block;
        margin-bottom: 28px;   
        background-color: #F3F5FC;
        border-radius: 50%;
    }

    &_text {
        font-size: 14px;
        margin-bottom: 15px; 
    }

    .box-title {
        letter-spacing: -0.48px;
        margin-bottom: 10px; 
        @include xl {
            font-size: 20px;
        }
    }

    img {
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        .service-item {
            &_icon {
                img {
                    transform: rotateY(360deg);
                }
            }
        }
    }
}

/* Service box ---------------------------------- */
.service-box {
    position: relative;
    background: $white-color;
    padding: 30px 36px; 
    display: block;
    border-radius: 30px;
    border: 1px solid #EBEDF1;
    box-shadow: 0px 16px 14px 0px rgba(232, 234, 238, 0.3); 
    text-align: center;
    margin-top: 50px;

    @include xl {
        padding: 20px;
    }

    &_icon {
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
        width: 91px;
        height: 91px;
        line-height: 91px;
        border: 1px solid #EBEDF1;
        background-color: $white-color;
        filter: drop-shadow(2.5px 2.5px 15px rgba(232, 234, 238, 0.55)); 
        border-radius: 50%;
        z-index: 9;
        transition: 0.4s ease-in-out; 

        img {
            transition: 0.4s ease-in-out;
        }
    }

    .box-title {
        font-size: 20px;   
        font-weight: 600;
        line-height: 24px; 
        letter-spacing: -0.4px; 
        margin: 35px 0 20px 0;      
        display: block;

        @include xl {
            font-size: 18px;
        }
    }

    .icon-btn {
        border-radius: 99px;
        background-color: $white-color;
        border: 1px solid $border-color;
        color: $title-color;
        position: relative;
        z-index: 3;
        display: block;
        text-align: center;
        margin: auto;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: $theme-color;
            border-color: $theme-color;
            color: $white-color;
            i{
                color: $white-color; 
                transform: rotate(320deg);  
             }
        }
        i{
            transition: all 0.4s ease-in-out; 
        }
    }

    &:hover {
        .service-box {
            &_img {
                img {
                    transform: scale(1.1);
                }
            }

            &_icon {
                &:before {
                    transform: scaleX(1.0);
                }
              

                img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

/* Service Block -----------------------------------*/
.service-block {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 358px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &:nth-child(2) {
        padding-left: 48px;

        @include sm {
            padding: 0;
        }

    }

    &.style1 {
        direction: rtl;

        @include sm {
            direction: ltr;
        }

        &:nth-child(2) {
            padding: 0 48px 0 0;

            @include sm {
                padding: 0;
            }
        }
    }


    &_img {
        min-width: 60px;

        img {
            transition: all 0.4s ease-in-out;
        }
    }

    .box-title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    &:hover {
        .service-block {
            &_img {
                img {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

/* Service Details ---------------------------------- */
.page-title {
    margin-bottom: 20px;
}

.page-img {
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 20px;

    img {
        width: 100%;
        border-radius: 20px;
    }
}

.page-single {
    margin-bottom: 30px;
}

.service-process {
    background-color: $white-color;
    padding: 30px 24px; 
    border-radius: 10px;
    box-shadow: 0px 9px 37px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    gap: 25px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @include sm {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &_num {
        min-width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: $theme-color;
        border-radius: 50%;
        font-size: 18px;
        color: $white-color;
        text-align: center;
    }

    &_title {
        font-family: $body-font; 
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    &_text {
        margin-bottom: -0.3rem; 
    }
}


.service-area {
    margin-top: -40px;
}

.service-area2 {
    position: relative;
    background-color: #EFF1F9;
    border-radius: 30px;
    overflow: hidden;

    @include xxl {
        border-radius: 0;
    }
}

.service-area4 {
    background: linear-gradient(180deg, rgba(237, 240, 244, 0.00) 0%, rgba(237, 240, 244, 0.85) 100%);
    overflow: hidden;
}